Makefile
Basic/Basic.bs
Basic/Basic.c
Basic/Basic.o
Basic/Basic.pm
Basic/Basic.xs
GLM/GLM.bs
GLM/GLM.c
GLM/GLM.o
GLM/GLM.pm
GLM/GLM.xs
Kmeans/Kmeans.bs
Kmeans/Kmeans.c
Kmeans/Kmeans.o
Kmeans/Kmeans.pm
Kmeans/Kmeans.xs
TS/TS.bs
TS/TS.c
TS/TS.o
TS/TS.pm
TS/TS.xs
*/pp-*.[co]
