Makefile
lib/PDL/Stats/Basic.bs
lib/PDL/Stats/Basic.c
lib/PDL/Stats/Basic.o
lib/PDL/Stats/Basic.pm
lib/PDL/Stats/Basic.xs
lib/PDL/Stats/GLM.bs
lib/PDL/Stats/GLM.c
lib/PDL/Stats/GLM.o
lib/PDL/Stats/GLM.pm
lib/PDL/Stats/GLM.xs
lib/PDL/Stats/Kmeans.bs
lib/PDL/Stats/Kmeans.c
lib/PDL/Stats/Kmeans.o
lib/PDL/Stats/Kmeans.pm
lib/PDL/Stats/Kmeans.xs
lib/PDL/Stats/TS.bs
lib/PDL/Stats/TS.c
lib/PDL/Stats/TS.o
lib/PDL/Stats/TS.pm
lib/PDL/Stats/TS.xs
**/*-pp-*.[co]
